/* Buttons -------------------------------------------------------------------*/
.button {
  display: inline-block;
  height: 48px;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  width: 120px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
}

.button.button-primary {
  background-color: #71b045;
  color: #fff;
}

.button.button-lg {
  width: 320px;
}

.button.button-primary:hover {
  background-color: #669933;
  transition: all 0.3s ease;
  box-shadow: none;
}
