/* TODO: delete file after moving out code */

/* Fonts --------------------------------------------------------------------*/
@font-face {
  font-family: 'Scandia';
  src: url('./fonts/Scandia-Regular.eot'),
       url('./fonts/Scandia-Regular.otf') format('otf'),
       url('./fonts/Scandia-Regular.woff') format('woff'),
       url('./fonts/Scandia-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Scandia';
  src: url('./fonts/Scandia-Bold.eot'),
       url('./fonts/Scandia-Bold.otf') format('otf'),
       url('./fonts/Scandia-Bold.woff') format('woff'),
       url('./fonts/Scandia-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Grid styles ---------------------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  grid-gap: 30px;
}

/* Generic styles ------------------------------------------------------------*/
body {
  font-family: 'Scandia';
  color: #414042;
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 36px;
}

.title {
  font-size: 34px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
}

.small-text {
  font-size: 10px;
}

.text-center {
  text-align: center;
}

.warning {
  color: #ef7c42;
}

/* Navbar --------------------------------------------------------------------*/
header {
  width: 100%;
  height: 85px;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

nav {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  height: 100%;
  padding: 0 24px 0 24px;
  font-size: 2em;
  color: #333;
  background-color: #fff;
}

.nav-right {
  float: right;
}

.nav-right .button {
  display: inline-block;
  margin: 17px 0;
}

nav > .logo {
  height: 50px;
  margin: 17px 0 18px 0;
}

/* Buttons -------------------------------------------------------------------*/
.button {
  display: inline-block;
  height: 48px;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  width: 120px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.button.button-primary {
  background-color: #71b045;
  color: #fff;
}

.button.button-lg {
  width: 320px;
}

.button.button-primary:hover {
  background-color: #669933;
  transition: all 0.3s ease;
  box-shadow: none;
}

/* Announcements -------------------------------------------------------------*/
.announcement {
  display: block;
  text-align: center;
  background-color: #414042;
  width: 100%;
  height: 1.75rem;
  text-decoration: none;
  color: #fff;
}

.announcement:hover {
  background-color: #71b045;
  transition: all 0.3s ease;
}

.announcement-text {
  margin: 0;
  line-height: 1.75rem;
  text-transform: uppercase;
}

/* Footer --------------------------------------------------------------------*/
footer {
  display: block;
  text-align: center;
  background-color: #414042;
  width: 100%;
  height: 75px;
  color: #f7f4ea;
  margin-top: 40px;
}

.footer-text {
  margin: 0;
  line-height: 75px;
  font-size: 11px;
}

/* Hero ----------------------------------------------------------------------*/
.hero {
  height: 422px;
  position: relative;
  color: white;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.hero-image {
  width: 100%;
  height: 100%;
  background: url('./images/target.svg') center #8D0305 no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 5px #000;
}

.hero-content {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero-content.subtitle {
  padding: 10px 0 10px 0;
}


/* Cards ---------------------------------------------------------------------*/
.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}

/* article {
  position: relative;
} */

.article-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: all .2s ease-in-out;
}

.article-img:hover {
  transform: scale(1.05);
}

.article-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.article-description {
  text-align: center;
  font-size: 16px;
}

/* Search --------------------------------------------------------------------*/
.search-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 80%;
  max-width: 300px;
}

.search-bar {
  /* order: 1; */
  color: #888;
  background-color: #fff;
  width: 220px;
  height: 48px;
  border-radius: 2px;
  width: 100%;
}

.search-bar:focus-within {
  color: #333;
}

.search-icon {
  line-height: 48px;
  width: 10%;
  text-align: center;
  position: relative;
}

.search-icon-left {
  float: left;
}

.search-icon-right {
  float: right;
}

.search-field {
  display: inline-block;
  width: 80%;
}

.search-field-input {
  color: #888;
  border: 0;
  font-size: 14px;
  line-height: 42px;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.search-field-input:focus {
  color: #333;
}

.search-button {
  /* order: 3; */
  width: 100%;
  margin-top: 14px;
}

.error-text {
  /* order: 2; */
  width: 100%;
  color: orange;
  padding-top: 5px;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}

/* Search results ------------------------------------------------------------*/
.results-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 1080px;
  justify-content: space-around;
}

.results-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}

.search-result {
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  width: auto;
  padding: 0 0 20px 0;
}

.store-name {
  font-size: 28px;
}

.launch-date {
  font-size: 11px;
  font-weight: bold;
  color: #7b7b7b;
}

.button-area {
  text-align: center;
  padding: 20px 0;
}

/* Media queries -------------------------------------------------------------*/
@media (min-width: 700px) {
  /* generic styles */
  .title {
    font-size: 48px;
  }

  /* hero */
  .hero {
    margin: 0 auto;
    max-width: 1080px;
    padding: 12px 24px 12px 24px;
  }

  .hero .small-text {
    padding: 0 20%;
  }

  /* search */
  .search-wrapper {
    flex-direction: row;
    width: 40%;
    min-width: 340px;
  }

  .search-button {
    width: 32%;
    margin-top: 0;
    border-radius: 0 2px 2px 0;
    /* order: 2; */
  }

  .search-bar {
    width: 68%;
    border-radius: 2px 0 0 2px;
  }

  /* search results */
  .results-container {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  /* cards */
  .cards {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
